*{
    margin: 0;
}

.flex-container{
    width: 300px;
    height: 200px;
    background-color: #c4c4c4;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
   
}

.flex-item{
    color: white;
    background-color: #ff5252;
}

.flex-item:nth-child(2n) { /*2의 배수*/ /*홀수는 2n-1*/
    background-color: #ee2;
}